.toggle-password {
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: #333;
  font-size: 16px;
}
