<div class="row btn-page">
    <div class="col-md-12">
        <app-card cardTitle="Asignación de Evaluadores" [options]="false">

            <!-- Filtros -->
            <div class="row align-items-end g-2">
                <div class="col-md-2">
                    <label class="form-label">Fecha Inicial</label>
                    <input type="date" class="form-control" />
                </div>

                <div class="col-md-2">
                    <label class="form-label">Fecha Fin</label>
                    <input type="date" class="form-control" />
                </div>
            </div> 

            <hr class="my-4" /> 
            
            <div class="col-md-2">
                <button type="button" class="btn btn-success">
                    <i class="feather icon-download me-1"></i>
                    Exportar
                </button>
            </div>

        </app-card>
    </div>
</div>