<div class="auth-wrapper">
  <!-- Panel Izquierdo -->
  <div class="left-panel">
    <div class="content">
      <p>Bienvenido a la Plataforma de</p>
      <h1>Convocatorias AGRO RURAL</h1>
      <p>
        ¡Atención postulantes! Aquí encontrarás las convocatorias más recientes
        para trabajar en el Programa de Desarrollo Productivo Agrario Rural.
      </p>
      <p>Se ofrecerán plazas laborales para distintos niveles educativos, incluyendo:</p>
      <ul>
        <li>Personas con secundaria completa</li>
      </ul>
    </div>
  </div>

  <!-- Panel Derecho -->
  <div class="auth-content right-panel">
    <div class="card">
      <div class="card-body">

        <h2 class="text-center mb-4">Registrar Cuenta</h2>

        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" novalidate>

          <!-- Tipo y Número de Documento -->
          <div class="form-group row mb-3">
            <div class="col-6">
              <label for="tipo-doc" class="form-label">Tipo de Documento</label>
              <select id="tipo-doc" class="form-control" aria-label="Tipo de Documento" formControlName="tipoDocumento">
                <option value="0" selected>Seleccione</option>
                <option *ngFor="let tipo of tiposDocumentos" [value]="tipo.codTipoDocumento">
                  {{ tipo.nombreDocumento }}
                </option>
              </select>
              <small class="text-danger" id="errorTipoDocumento"></small>
            </div>
            <div class="col-6">
              <label for="num-doc" class="form-label">Número de Documento</label>
              <input id="num-doc" type="text" formControlName="numDocumento" placeholder="Número de Documento"
                maxlength="15" pattern="[0-9]*" inputmode="numeric" class="form-control"
                aria-label="Número de Documento" (keypress)="soloNumeros($event)" />
              <small class="text-danger" id="errorNumDocumento"></small>
            </div>
          </div>

          <!-- Apellidos -->
          <div class="form-group row mb-3">
            <div class="col-6">
              <label for="apellido-paterno" class="form-label">Apellido Paterno</label>
              <input id="apellido-paterno" type="text" formControlName="apePaterno" placeholder="Apellido Paterno"
                class="form-control" aria-label="Apellido Paterno" (keypress)="soloLetras($event)" />
              <small class="text-danger" id="errorApePaterno"></small>
            </div>
            <div class="col-6">
              <label for="apellido-materno" class="form-label">Apellido Materno</label>
              <input id="apellido-materno" type="text" formControlName="apeMaterno" placeholder="Apellido Materno"
                class="form-control" aria-label="Apellido Materno" (keypress)="soloLetras($event)" />
              <small class="text-danger" id="errorApeMaterno"></small>
            </div>
          </div>

          <!-- Nombre -->
          <div class="form-group mb-3">
            <label for="nombre-completo" class="form-label">Nombre Completo</label>
            <input id="nombre-completo" type="text" formControlName="nombres" placeholder="Nombre Completo"
              class="form-control" aria-label="Nombre Completo" (keypress)="soloLetras($event)" />
            <small class="text-danger" id="errorNombres"></small>
          </div>

          <!-- Correo -->
          <div class="form-group mb-3">
            <label for="correo" class="form-label">Correo Electrónico</label>
            <input id="correo" type="email" formControlName="correoElectronico" placeholder="Correo Electrónico"
              class="form-control" aria-label="Correo Electrónico" />
            <small class="text-danger" id="errorCorreo"></small>
          </div>

          <!-- Contraseña -->
          <div class="mb-3 password-wrapper">
            <label for="password" class="form-label">Contraseña</label>
            <div class="input-group">
              <input [type]="verContrasenia ? 'text' : 'password'" id="password" formControlName="contrasenia"
                placeholder="Ingresa tu contraseña" class="form-control" />
              <span class="input-group-text password-toggle" (click)="toggleVerContrasenia()" style="cursor: pointer;">
                <i class="fa" [ngClass]="verContrasenia ? 'fa-eye-slash' : 'fa-eye'"></i>
              </span>
            </div>
            <small class="text-danger" id="errorContrasenia"></small>
          </div>

          <!-- Términos y Condiciones -->
          <div class="terms-text mb-3">
            Al continuar con el registro de su cuenta, usted acepta los
            siguientes
            <a href="javascript:void(0);" tabindex="0">Términos y Condiciones</a>.
          </div>

          <!-- Botón de Registro -->
          <button type="submit" class="btn-login w-100">Registrar</button>

          <!-- Enlace a Login -->
          <div class="extra-links mt-3 text-center">
            <p>
              ¿Ya tienes una cuenta?
              <a [routerLink]="['/login']">Iniciar sesión</a>
            </p>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>