<div class="auth-wrapper">
  <!-- Panel Izquierdo -->
  <div class="left-panel">
    <div class="content">
      <p>Bienvenido a la Plataforma de</p>
      <h1>Convocatorias AGRO RURAL</h1>
      <p>
        ¡Atención postulantes! Aquí encontrarás las convocatorias más recientes
        para trabajar en el Programa de Desarrollo Productivo Agrario Rural.
      </p>
      <p>
        Se ofrecerán plazas laborales para distintos niveles educativos,
        incluyendo:
      </p>
      <ul>
        <li>Personas con secundaria completa</li>
        <!-- Puedes agregar más si deseas -->
      </ul>
    </div>
  </div>

  <!-- Panel Derecho -->
  <div class="auth-content right-panel">
    <div class="card">
      <div class="card-body text-center">
        <img
          src="assets/images/logoagrorural.png"
          alt="Logo AGRO RURAL"
          class="logo img-fluid mb-4"
        />

        <form (ngSubmit)="OlvidoContrasena()">
          <div class="form-group input-icon mb-3">
            <i class="fas fa-envelope"></i>
            <input
              type="email"
              placeholder="Correo Electrónico"
              [(ngModel)]="email"
              name="email"
              required
              class="form-control"
            />
          </div>

          <button type="submit" class="btn-login">Enviar</button>

          <div class="extra-links mt-3">
            <p>
              ¿Aún no se ha registrado?
              <a [routerLink]="['/register']">Regístrese aquí</a>
            </p>
            <a [routerLink]="['/login']">Volver</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
